<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>

    <!-- Document Title -->
    <title>{% block title %}Blog{% endblock title %}</title>
    {% load static %}
    <!-- Metas -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="AbelShikanda" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- Links -->
    <link rel="icon" type="image/png" href="" />
    <!-- Vendor CSS Files -->
    <link href="{% static '/vendor/bootstrap/css/bootstrap.min.css.map' %}" rel="stylesheet" />
    <link href="{% static '/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet" />
    <!-- style CSS -->
    <link href="{% static '/css/main.css' %}" rel="stylesheet" />


</head>

<body>

    {% include 'header.html' %} {% block content %}{% endblock content %} {% include 'footer.html' %}

</body>

</html>